<div class='form'>
  <%= form_for(@meeting) do |f| %>
    <div class='errors'>
      <% if @meeting.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
        <ul>
          <% @meeting.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :exec_id, "Executive" %><br>
      <%= f.select(:exec_id, @execs) %>
      <p>Executive you want not here? <%= link_to 'Register an Executive', new_exec_path %></p>
    </div>

    <!-- Issue with saving the local time -->
    <div class="field">
      <%= f.label :start %><br>
      <%= f.datetime_local_field :start %>
    </div>

    <div class="field">
      <%= f.label :duration_in_minutes %><br>
      <%= f.number_field :duration %>
    </div>

    <br>
    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>