<div class='calendar-container col-md-8'>
  <div class='calendar'>
    <%= month_calendar events: @meetings do |date, meetings| %>
      <%= date.strftime('%d') %>
        <% meetings.each do |meeting| %>
          <div>
            <%= link_to "#{meeting.exec.name + " " + meeting.start.strftime('%I:%M %p')}","#", class: 'timeslot', data: { exec_id: meeting.exec.id } %>
            <div class='claimbox'>
              <%= link_to '[X]', "#", class: 'close-icon' %>
              <h3><%=link_to meeting.exec.name, exec_path(meeting.exec.id) %></h3>
              <ul>
                <li>Date: <%= meeting.start.strftime("%A, %B %e") %></li>
                <li>Time: <%= meeting.start.strftime("%l:%M %P") + " - " + (meeting.start + 30.minutes).strftime("%l:%M %P")%></li>
              </ul>
              <% if current_user %>
                <%= link_to "Claim!", claim_slot_path(meeting: meeting.id), method: 'post', class: 'btn btn-default btn-block' %>
              <% end %>
            </div>
          </div>
       <% end %>
    <% end %>
  </div>
</div>