<div class='col-lg-3'></div>
  <div class='show exec-show col-lg-6'>
    <h1><%= @exec.name %> <small><%=@exec.email %></small></h1><hr>
    <% if @exec.user == current_user %>
      <div>
        <h2>Scheduled meetings</h2>
          <table class='exec-schedule'>
          <% @scheduled.each do |meeting| %>
            <tr>
              <td><%= meeting.start.strftime("%l:%M %p %a on %d %b %Y") %></td>
              <td><%= meeting.user.name %></td>
              <td><%= meeting.user.email %></td>
            </tr>
          <% end %>
        </table>
        <div>
          <%= link_to "Add timeslot", new_meeting_path, class: 'btn btn-default' %>
        </div>
      </div><hr>
    <% end %>

    <div>
      <h2>Available Times:</h2>
      <table class='exec-schedule'>
        <% @meetings.each do |meeting| %>
          <tr>
            <td><%= meeting.start.strftime("%l:%M %p %a on %d %b %Y") %></td>
            <td><%= link_to "Claim!", claim_slot_path(meeting: meeting.id), method: 'post', class: 'btn btn-default' %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
<div class='col-lg-3'></div>