<div class='modal-container'>
	<div class='modal-background close-modal'>
	</div>
	<div class='content'>
		<a href="#" class="btn btn-default exit-modal close-modal">Close</a>
		<h1>Log in</h1><hr>
		<%= form_tag sessions_path do %>
			<p>
			  <%= label_tag :email %><br />
			  <%= text_field_tag :email, params[:email] %>
			</p>
			<p>
			  <%= label_tag :password %><br />
			  <%= password_field_tag :password %>
			</p>
			<p class="button">
			  <%= submit_tag "Log In" %>
			</p>
		<% end %>
		(New user? <%= link_to "Sign up", sign_up_path %>.)
	</div>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-3'>
    	<div class='sidebar'>
    		<ul>
			  	<li><%= link_to "Executives index", execs_path %></li>
    			<li><%= link_to "Schedule Meeting", new_meeting_path %></li>
    		</ul>
			</div>
    </div>

		<%= render 'meetings/index' %>

    <div class='col-md-1'></div>
  </div>
</div>
