<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/banner" %>
    <div class='modal-container'>
      <div class='modal-background close-modal'>
      </div>
      <div class='content'>
        <a href="#" class="btn btn-default exit-modal close-modal">Close</a>
        <h1>Log in</h1><hr>
        <%= form_tag sessions_path do %>
          <p>
            <%= label_tag :email %><br />
            <%= text_field_tag :email, params[:email] %>
          </p>
          <p>
            <%= label_tag :password %><br />
            <%= password_field_tag :password %>
          </p>
          <p class="button">
            <%= submit_tag "Log In" %>
          </p>
        <% end %>
        (New user? <%= link_to "Sign up", sign_up_path %>.)
      </div>
    </div>

    <div class="flash text-center bg-warning"><%= flash.notice %></div>
    <%= yield %>

  </body>
</html>
